


# FILE BASED RULES

*.env
*.cache
*.log
*.betcap
*.ld
*.db
*.DS_Store
*.PNG
*.json
*.xls
*.xlsx
*.whl

oddsjam_cookies.pkl
update_[*].command
# update_combo.command
# update_cookies.command
# update_api_server.command
deeka-key

*chromedriver
chromedriver



# DIRECTORY BASED RULES

*chromecache/
chromecache/

*user/
user/

*.runtime/
.runtime/

*stove/
stove/

*__pycache__/
__pycache__/


