


# FILE BASED RULES

*.env
*.cache
*.log
*.betcap
*.ld
*.db
*.DS_Store
*.PNG
*.json
*.xls
*.xlsx
*.whl

*update_*.command
oddsjam_cookies.pkl
deeka-key

*chromedriver
chromedriver



# DIRECTORY BASED RULES

*chromecache/
chromecache/

*user/
user/

*.runtime/
.runtime/

*stove/
stove/

*__pycache__/
__pycache__/


